{% extends "base_modal.html" %}
{% block modal %}

<form action="" method="post" id="formenter">
  <div class="modal-body">
    {% csrf_token %}
    <p>Add New Infusion Details</p>
    {{form.as_p}}
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Save">
    <a href="javascript:parent.oncancel()" class="btn btn-primary">Cancel</a>
  </div>
</form>

<script type="text/javascript">
$( document ).ready(function()
{
    $("#id_date_of_infusion").datepicker();
    $("#id_actual_followup_date").datepicker();
    $("#id_schedule_followup_date").datepicker();
});
</script>
{% endblock %}
